@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,
body {
  height: 100%;
  width: 100%;
  background-color: #030b19;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

p {
	font-size: 16px;
	color: #333;
}

h3 {
  color: #030b19;
  font-size: 2.4em;
}

h4 {
  color: white;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

header {
 	position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../img/headimg.jpg');
  text-align: center; 
}

img {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-bottom: 10px;
  padding-top: 10px;
    }

#navbar-primary-collapse .navbar-nav li a {
  color: blue;
  text-transform: uppercase;
  font-size: 1.82rem;
}

#navbar-primary-collapse .navbar-nav li a:hover {
  border: 1px black solid;
  color: black;
  background-color: rgba(255,255,255,0.4);
  transition: all 1.5s ease;
}

/* Header parts */

#main p {
  margin-top: 20px;
  line-height: 1.7;
}

#promo {
  background-color: rgba(255,255,255,0.4);
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  float: none;
}

#promo h1 {
  font-size: 5rem;
  color: #01083d;
  text-transform: uppercase;
  width: 100%;
  -webkit-animation-duration: 4.4s;
  -moz-animation-duration: 4.4s;
}

#promo p {
  font-size: 2.5rem;
  color: black;
  -webkit-animation-delay: 4.1s;
  -moz-animation-delay :4.1s;
}

#bookingform, #metro {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

#bookingform h2, #metro h2 {
  color: #01083d;
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
}

.bookf, .metrotags {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: solid 1px #CCC;
  box-shadow: 1px 1px 5px #999;
  background: linear-gradient(white,#d3eae5);
  padding-bottom: 10px;
}

.flatten {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  font-size: 1.2rem;
}

.flatten input {
  font-size: 1.2rem;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 70%;
  text-align: center;
}

button {
  margin-top: 10px;
}

#metro h3 {
  color: #01083d;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 30px;
}

.highlight {
  font-weight: 600;
}

#metro ul {
  margin-top: 20px;
  list-style-type: none;
}

#metro ul li {
  margin-top: 10px;
}

#metro p {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Main parts index */

#main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
}

#main h1 {
  color: white;
  font-size: 4rem;
}

#main p {
  color: white;
  font-size: 2rem;
}

/* top phone number */

#contact {
  background-color: transparent;
  min-height: 30px;
}

#contact p {
  color: white;
  text-align: right;
  padding-right: 10%;
  font-size: 2rem;
  animation-iteration-count: 1000;
  -webkit-animation-delay: 60s;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -moz-animation-delay: 60s;
}

/* Parallax.js */

.parallax-container {
    min-height: 400px;
    background: transparent;
}

/* Weather script */

#botweather h1 {
  color: white;
}

#weather p{
  font-size: 5rem;
  color: white;
}

#weather h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

/* Footer */

footer {
  min-height: 40px;
  background-color: #030b19;
  padding-bottom: 10px;
}

footer p {
  color: white;
}

/* Pokoje html */

.left-head-main {
  background-color: white;
  margin-right: 20%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.right-head-main {
  background-color: white;
  margin-left: 20%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.left-main {
  margin-right: 20%;
}

.right-main {
  margin-left: 20%;
}

.left-small {
  margin-right: 20%;
  margin-top: 10px;
}

.right-small {
  margin-left: 20%;
  margin-top: 10px;
}

.left-small ul, .right-small ul {
  list-style-type: none;
  }

.left-small ul li, .right-small ul li {
  color: white;
  font-size: 1em;
  margin-top: 5px;
}

.signature {
  height: 1%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

embed {
  display: none;
}

@media (min-width: 768px) {

embed {
  width: 80%;
  height: 800px;
  display: inline;
} 
}

.img-contact {
  padding-left: 5%;
  padding-right: 5%;
}



/* Polaroids */

.polaroids {
  padding: 10px 10px 25px 10px;
  background: #eee;
  border: 1px solid #fff;
  -moz-box-shadow: 0px 2px 15px #333;
  margin-top: 20px;

}